.low-usage {
  background-color: green;
}

.medium-usage {
  background-color: yellow;
}

.high-usage {
  background-color: red;
}

h1 {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}
